* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #444;
}

main {
    height: 100%;
    flex-grow: 1;
}